<h3>Change Password</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        formControlName="oldPassword"
        class="form-control"
        type="password"
        id="oldPassword"
      />
      <div *ngIf="oldPassword.pending">Checking for old password</div>
      <div
        class="alert alert-danger"
        *ngIf="oldPassword.touched && oldPassword.invalid"
      >
        <div *ngIf="oldPassword.errors.required">Old Password is required.</div>
        <div *ngIf="oldPassword.errors.invalidPassword">
          Old Password is INVALID.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        formControlName="newPassword"
        class="form-control"
        type="password"
        id="newPassword"
      />
      <div
        class="alert alert-danger"
        *ngIf="newPassword.touched && newPassword.invalid"
      >
        New Password is required.
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        formControlName="confirmPassword"
        class="form-control"
        type="password"
        id="confirmPassword"
      />
      <div
        class="alert alert-danger"
        *ngIf="confirmPassword.touched && confirmPassword.invalid"
      >
        Confirm password is required.
      </div>
      <div
        class="alert alert-danger"
        *ngIf="
          newPassword.valid &&
          confirmPassword.valid &&
          form.invalid &&
          form.errors.passwordsShouldMatch
        "
      >
        Passwords should Match.
      </div>
    </div>
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
